# Dependencies
/node_modules
/.pnp
.pnp.js
*.png
!public/*.png
# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

*.sql

# JSON files except essential ones
*.json
!package.json
!package-lock.json
!tsconfig.json

# Large data files
data-scraping/merged_data/
